li, p {
    color: green;
     }
     #unique-li {
         color: yellow;
     }
     .warning {
         color: orange;
     }
     .warning.error, .warning[attribute-name] {
         color: brown;
     }
     [attribute-name] {
         color: gray;
     }
     [attribute-name="attribute-value"] {
         color: purple;
     }
     .parent-child > li {
         color: pink;
     }
     .ancestor-descendant li {
         color: aqua;
     }